body{
	font-family: Arial;
}
a{
	color:black;
	text-decoration: none;
}
li{
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
}
li:hover{
	background: linear-gradient(to bottom, rgba(173,215,255,1) 0%, rgba(245,245,245,1) 100%);	
}
ul{
	padding: 0;
	margin:0;
}
.container{
	width: 1000px;
	height: 400px;

}

.conteudo{

	width: 1000px;
	height: 400px;
}
.cabecalho{
	float: left;
	width: 100%;
	background: linear-gradient(to bottom, rgba(201,244,255,1) 0%, rgba(174,235,252,1) 41%, rgba(116,207,232,1) 100%);
	padding: 10px;
}

.cabecalho span{
	font-size: 16px;
	font-weight: bold;
	color:blue;
	display: inline-block;
}

.titulo-visitado{
	float: left;
	width: 180px;
}

.titulo-sugestoes{
	float: left;
	padding-left: 10px;

}

.visitado{
	float: left;
	width: 180px;
	height: 300px;
	border-right: 1px solid rgb(223, 220, 220);
	margin-right: 10px;
	padding-right: 10px;
	margin-top: 15px;	
}

.produto{
	float:left;
	width:170px	;
	font-size: 12px;
	padding: 5px;
}

.produto img{
	width: 100%;
}

.titulo{
	display: block;
}

.preco-de{
	display: block;
	color: red;
}

.preco-por{
	display: block;	
	color:red;
}

.preco-de span{
	font-size: 15px;
	font-weight: bold;
}

.preco-por span{
	font-size: 15px;
	font-weight: bold;
}

.condicoes{
	color:red;
}

.sugestoes{
	float: left;
	display: block;
	width: 780px;
	height: 300px;
	position: relative;

}

.box{
	float: left;
	display: block;
	width: 730px;
	height: 300px;
	margin-left: 20px;
	overflow: hidden;
	position: relative;
}

.avancar{
	position: absolute;
	height: 100%;
	width: 20px;
	box-shadow: -30px 60px 70px 50px rgba(255,255,255,1);
	right: 0;
	top:0;
}

.avancar:after{
	content: '';
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid black;
	display: block;	
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -10px;	
	z-index: 999;
}

.voltar{
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid black;
	display: block;	
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;	
	z-index: 999;
}
ul{
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: left 0.4s;
}

.avancar.disabled:after{
	border-left-color:grey;
}

.voltar.disabled{
	border-right-color:grey;
}